.products--grid {
    display: flex;
    flex-direction: column;
  }

  .product-detail {
    position: fixed;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all ease-out .5s;
    transform: translateX(100%);
    &.active{
      transform: translateX(0);
      img{
        display: flex;
      }
    }
  }
  .back-btn {
    background-color: var(--white);
    border: 0;
    cursor: pointer;
    color: var(--hospital-green);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    margin-bottom: 1.6rem;
    font-size: 2rem;
    > svg {
      width: 2.5rem;
    }

  }
  .detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    > .gallery {
      overflow: hidden;
      border-radius: var(--sm);
      margin-bottom: var(--sm);
      img {
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }
    > .product-info {
      .title {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: var(--md);
      }
      .price {
        font-size: var(--lg);
        font-weight: 700;
        margin-bottom: var(--md);
      }
      .description {
        font-size: var(--md);
        margin-bottom: var(--md);
      }
    }
  }
  
  // MOBILE
  @media screen and (max-width: 768px) {
    .detail {
      display: flex;
      flex-direction: column;
      align-content: center;
    }
  }
  //tablets
  @media screen and (min-width: 40em) and (max-width: 63.9em){
    .products--grid {
      display:grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }
  }
  
  //web desk
  @media screen and (min-width: 64em){
    .products--grid {
      display:grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 15px;
    }
  }

  