<router-outlet></router-outlet>
<!-- <button (click)="createUser()">Crear Usuario</button> -->
<!-- <app-products></app-products> -->

<!-- <input type="text" [(ngModel)]="imgParent">
<button (click)="toggleImg()">Toggle Img</button>
<p> {{showImg}} </p>

<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
 -->
<!-- <app-nav></app-nav>
<button (click)="createUser()">Crear Usuario</button>
<button (click)="login()">Login</button>
<button (click)="getProfile()">Get Profile</button>
<a href="./assets/texto.txt" download> Descargar</a>
<p>
    <button (click)="download()">Descargar pdf</button>
</p>
<p>
    <input type="file" (change)="onUpload($event)">
    <img *ngIf="imgRta" [src]="imgRta">
</p>
 <app-products></app-products> -->